{{ partial "header.html" . }}

<main class="list">
    {{ if .Title }}
      {{ if ne .Title .Site.Title }}
      <a class="back_link" href="{{ "/" | relLangURL }}">
        <img src="{{ "images/icArrow_2x.png" | absURL }}" /> Back
      </a>
      {{ end }}
      <h1 class="list__title">{{ .Title }}</h1>
    {{ end }}  
    <div class="list__container">
      <section class="list__posts">
        {{ $paginator := .Paginate (where .Data.Pages  "Section" "!=" "") 6 }}
        <ul class="list__list">
          {{ range $paginator.Pages }}      
            <li class="list__item">
                <div class="list__item-inner">
                  {{ if .Params.image }}
                    <div class="list__item-image">
                      <img src="{{ .Params.image.url | relURL }}" class="list__image">
                    </div>
                  {{ else }}
                    <div class="list__item-image">
                      <img src="{{ "img/placeholder.svg" | relURL }}" class="list__image list__image-placeholder">
                    </div>
                  {{ end }}
                  <span class="list__meta">{{ .Date.Format "Jan 2 2006" }}</span>
                  <a class="list__link" href="{{ .URL | relLangURL }}">{{ .Title }}</a>
                </div>
            </li>
          {{ end }}
        </ul>
        {{ partial "pagination.html" . }}
      </section>
      {{ partial "tags.html" . }}
    </div>
  </main>

  {{ partial "footer.html" . }}
