<section class="categories">
  <a class="arrow" href="javascript:;" onmousedown="startScroll(-5)" onmouseout="stopScroll()" onmouseup="stopScroll()"><i class="prev"></i></a>
  <ul class="categories__list">
    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      <li class="categories__item">
        <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>        
      </li>
    {{ end }}
  </ul>
  <a class="arrow" href="javascript:;" onmousedown="startScroll(5)" onmouseout="stopScroll()" onmouseup="stopScroll()"><i class="next"></i></a>
</section>
<script type="text/javascript">
  var scrollInterval;
  function startScroll(offset) {
    if (scrollInterval) {
      stopScroll();
    }
    scrollInterval = setInterval(function () { 
      document.getElementsByClassName('categories__list')[0].scrollLeft += offset; 
    }, 50);
  }
  function stopScroll() {
    clearInterval(scrollInterval);
    scrollInterval = null;
  }
</script>
