<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ $baseurl := .Site.BaseURL }}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | relURL }}" />
  <!-- Start of Open Graph -->
    <meta property="og:title" content="{{ .Title }}">
    {{ if .IsPage }}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">
    {{ else }}
    <meta property="og:type" content="website">
    {{ end }}
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    {{ if .Params.image }}
    <meta property="og:image" content="{{ .Params.image | absURL }}">
    {{ end }}
    {{ range .Params.tags }}
    <meta property="og:tags" content="{{ . }}">
    {{ end }}
    <!-- End of Open Graph -->
  {{ if .Site.GoogleAnalytics }}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ .Site.GoogleAnalytics }}', 'auto');
    ga('send', 'pageview');
    </script>
  {{ end }}
</head>

<body>
  <header class="header">
    <div class="header__wrapper">
        <a href="https://www.skycoin.net">
          <img class="logo" alt="Skycoin Blog" src="{{ "/images/logo-outlined.svg" | relURL }}" />
        </a>
        <nav class="nav">
            {{ range .Site.Menus.main }}
              <a class="nav__item {{if eq .Identifier "blog" }}nav__item--active{{end}}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            {{ end }}
            <a href="https://www.skycoin.net/downloads" target="_blank" class="btn">BUY SKYCOIN</a>
        </nav>
    </div>
  </header>
