.categories-container {
  @include container($container-width-base, false);
}
.categories {
  height: 60px;
  background-color: #F4F9FF;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  
  & a {
    color: $gray;
  }

  &__list {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    margin: 0 15px;
  }

  &__item {
    margin-right: 20px;
  }

  &__item a {
    font-size: 14px;
    line-height: 16px;    
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
