.footer {
  background-color: $dark;

  &__container {
    @include container($container-width-base, true);
  }

  &__menu {
    padding-bottom: 56px;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .nav-link {
      color: white;
      margin-left: 1rem;

      &:hover {
        color: $gray;
      }
    }
  }

  &__social {
    border-top: 1px solid rgba(255, 255, 255, .12);
    border-bottom: 1px solid rgba(255, 255, 255, .12);
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    a {
      padding: 16px 0;
      width: 8.333333333333332%;
      text-align: center;
    }
  }

  &__copyright {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    color: $gray;

    a {
      color: $gray;
    }
  }

  .languages {
    & a:not(:first-of-type):before {
      content: ' · '
    }
  }

}
