.header {
  margin: 0 auto;
  @include container($container-width-base);
  padding: 1.5rem 0;

  &__btn {
    @media (max-width: $breakpoint-sm) {
      margin: 0 auto;
    }
  }

  &__wrapper {
    @include container($container-width-base);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
