.list {
  @include container($container-width-base);
  padding-top: 40px;

  &__title {
    font-size: 30px;
    line-height: 42px;
    font-weight: bold;
    color: $dark-gray;
    margin-top: 1rem;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__list {
    width: $main-content-width;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -30px;
  }

  &__item {
    width: 360px;
    height: 360px;
    padding-bottom: 24px;
    border-radius: 4px;
    box-shadow: 0 0 18px 0 rgba(223,233,244,0.52);
    margin-top: 30px;
  }

  &__image {
    width: 360px;
    height: 240px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
  }

  &__link {
    font-size: 18px;
    line-height: 24px;
    color: black;
    display: block;
    text-decoration: none;
    margin: 12px 24px 0 24px;
  }

  &__meta {
    font-size: 12px;
    line-height: 18px;
    color: $gray;
    white-space: nowrap;
    display: block;
    margin: 18px 24px 0 24px;
  }
}
