.list {
  @include container($container-width-base);
  padding-top: 40px;

  &__posts {
    width: 100%;
    padding: 0 2rem;

    @include desktop {
      width: 66.6666666%;
    }

  }
  &__title {
    font-size: 30px;
    line-height: 42px;
    font-weight: bold;
    color: $dark-gray;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -2rem;
    flex-wrap: wrap;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -16px;
  }

  &__item {
    padding: 16px;
    width: 100%;

    @include tablet {
      width: 50%;
    }

    &-inner {
      border-radius: 4px;
      box-shadow: 0 0 18px 0 rgba(223,233,244,0.52);
      padding: 0 0 24px;
    }

    &-image {
      width: 100%;
      position: relative;
      padding-top: 66.666666%;
      height: 0;
      border-radius: 4px 4px 0 0;
      overflow: hidden;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
  }

  &__link {
    display: block;
    height: 48px;
    margin: 12px 24px 0 24px;
    font-size: 18px;
    line-height: 24px;
    color: black;
    text-decoration: none;
    overflow: hidden;
  }

  &__meta {
    font-size: 12px;
    line-height: 18px;
    color: $gray;
    white-space: nowrap;
    display: block;
    margin: 18px 24px 0 24px;
  }
}
