.nav {
  &__item {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: $blue;
    text-decoration: none;
    margin-right: 2rem;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;

    &:hover, &--active {
      color: $dark-gray;
    }
    &--active {
      border-bottom-width: 2px;
      border-bottom-color: $blue;
      border-bottom-style: solid;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
