.nav {
  &__item {
    color: $blue;
    text-decoration: none;
    margin-left: 2rem;
    height: 40px;
    padding: 0.25rem 5px;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;

    &:hover, &--active {
      color: $dark-gray;
    }
    &--active {
      border-bottom-width: 2px;
      border-bottom-color: $blue;
      border-bottom-style: solid;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
